---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout title="About">
    <div class="text-center m-10">
    <h1 class="font-bold mb-4">About</h1>
    <p>This is a simple app that takes data on your Mythic+ runs from <a href="https://rader.io">Raider.io</a> and calculates how much rating you will gain from timing a certain key</p>
    <p>The calculator is built in Javascript, pulling data from the Raider.io API and uses the same calculations as the WoW UI to predict gains</p>
    <p>The character pages are built dynamically using the <a href="https://astro.build">Astro 🚀 Framework</a>, with basic styling using <a href="https://tailwindcss.com">Tailwind</a></p>
    <p>It's deployed and hosted on <a href="https://netlify.app">Netlify</a></p>
    <p>The entire project is open source, you can find the GitHub repo <a href="https://github.com/Popidge/mythic-plus">here</a>. Feel free to contribute or fork for your own projects, as long as you attribute me!</p>
    </div>
</Layout>

<style>
    a {
        color : darkslategrey;
        text-decoration: underline;
    }
</style>